:root{
    --colorFondo:  #fffefe;
    --colorficuras: #f1f5f7;
    --colorAzulMarino: #1D3763;
    --colorAzulGrisOscuro: #8297ab;
    --colorAzulMarinoClaro: #447498;
    --colorDorado: #ce9423;
    --colorMorado: #8454a3;
    --colorGris: rgb(104, 102, 102);
}

.body-registro{
    padding-top: 5vh;
    background: linear-gradient( var(--colorficuras)5%, var(--colorAzulMarinoClaro)50%, var(--colorficuras));
}
.cont-logo{
    /* border: solid red 3px; */
    background-color: var(--colorAzulMarino);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont-logo img{
    width: 250px;
    background: var(--colorFondo);
    border-radius: 50%;
    padding: 4% 1.5%;
}